<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CSH.Interface.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="InInterval" value="60000" />
    <add key="LogLevel" value="debug" />
    <add key="LogFilePath" value="Log" />
    <add key="LogFileKeepDay" value="30" />
	<add key="XmlFilePath" value="C:\File\ICCA\重庆儿童\ICCA.Interface\ICCA.Interface\Data\" />
	<add key="EnableUpload" value="true" />
	<add key="EnableRemove" value="true" />
	<add key="Doctypename" value="重症监护记录单" />
  </appSettings>
  <connectionStrings>
    <add name="Philips_ICCA" connectionString="Data Source=192.168.122.172;Initial Catalog=Philips_ICCA;User ID=sa;Password=123;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DocumentTransferSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.122.172:8009/PLMRA502/DocumentTransfer.asmx"
        binding="basicHttpBinding" bindingConfiguration="DocumentTransferSoap"
        contract="PDFService.DocumentTransferSoap" name="DocumentTransferSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>